<div class="mat-typography app-center-content">
	<div class="imagen-inicio" data-position="center center">
		<div class="banner-inicio">
			<div fxLayout="column" fxLayoutAlign="center center">
				<img class="logo" src="assets/img/logo/logo.svg" alt="Logo personal">
				<strong class="mat-display-2">
					Sebastian Nahuel Ternouski
				</strong>
			</div>
			<i class="material-icons welcome-arrow" style="font-size:2em;">keyboard_arrow_down</i>
		</div>
	</div>

	<!-- PARA EL VIDEO-->

	<!-- <section class="video-section">
	<div class="inicio-inicio" data-position="center center">
		<a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=dIntqJvyG0Y',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
		<iframe id="bgndVideo" class="video-inicio video-section" src="https://www.youtube.com/embed/dIntqJvyG0Y?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=dIntqJvyG0Y" frameborder="0" allowfullscreen></iframe>
		<div class="banner-inicio">
			<%= image_tag("http://gdurl.com/cFsx", class: "logo", :alt => "logo personal", title:"Logo") %>
			<h3 class="txt-nombre"> Sebastian Nahuel Ternouski</h3>
		</div>
  	</div>
</section> -->

	<!-- PARA EL VIDEO-->

	<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" class="segunda-parte app-txt-blanco">
		<div [ngStyle.gt-sm]="{'width.px': 350, 'padding-right.em': 3}" [ngClass.gt-sm]="{'app-right': true}">
			<p class="mat-headline app-bold"> {{ 'welcome.about_me.title' | translate }} </p>
			<p> {{ 'welcome.about_me.info' | translate }} </p>
		</div>
		<div fxLayout="row" fxLayoutAlign="center start">
			<img class="mi-foto img-responsive center-block" src="assets/img/foto-perfil.png" alt="Foto perfil">
			<div class="app-left" [ngStyle.gt-sm]="{'width.px': 350}" [ngStyle]="{'padding-left.em': 3}">
				<p class="mat-headline app-bold"> {{ 'welcome.data.title' | translate }}</p>
				<strong>{{ 'welcome.data.full_name' | translate }}:</strong>
				<br>{{name}}
				<br>
				<strong>{{ 'welcome.data.age' | translate }}:</strong>
				<br> {{age}} {{ 'welcome.data.years_old' | translate }}.
			</div>
		</div>
	</div>

	<div class="tercera-parte">
		<app-quality></app-quality>
	</div>
	
	<div class="cuarta-parte app-center-content">
		<app-projects></app-projects>
	</div>

</div>