@import "~@angular/material/theming";

/*
 * APP THEME
 */
$palette: (
	50: #e4f2e1,
	100: #badfb4,
	200: #8dca82,
	300: #5fb450,
	400: #3ca42b,
	500: #1a9405,
	600: #178c04,
	700: #138104,
	800: #0f7703,
	900: #086501,
	A100: #97ff95,
	A200: #65ff62,
	A400: #34ff2f,
	A700: #1bff15,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000
	)
);

// Con la ayuda de: http://mcg.mbitson.com

$palette-primary: mat-palette($palette);
$palette-accent: mat-palette($mat-green, A200, A100, A400);
$palette-warn: mat-palette($mat-red);
$theme: mat-light-theme($palette-primary, $palette-accent, $palette-warn);

$foreground: map-get($theme, foreground);
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
