<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Enviado desde la pagina personal.</h4>
    <div>
      <h3>Has recibido un mensaje de <%= @nomYap %></h3>
      <br>
      <h4>Con mail: <%= @email %></h4>
      <p>
        Dice:
        <br>
        <%= @mensaje %>
        <br>
        <br>
        <cite><%= @nomYap %></cite>
      </p>
    </div>
  </body>
</html>