<div class="mat-title app-bold app-center-content">{{ title | translate }}</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
	<ng-container *ngFor="let project of projects">
		<div class="sin-padding projects-size">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="{{'/assets/img/projects/' + project.img}}">
				<div class="txt-desenfoque">
					<h2 class="mat-body-1"> {{ titlePath(project.title) | translate }}</h2>
					<p class="mat-caption"> {{ descPath(project.title) | translate }}</p>
					<span matTooltip="{{project.link}}">
						<a mat-icon-button href="{{project.link}}" style="color: #fff">
							<mat-icon>open_in_new</mat-icon>
						</a>
					</span>
				</div>
			</figure>
		</div>
	</ng-container>
</div>