<div class="banner-inicio">
	<div class="row foto-intro">
		<div class="col-md-4">
			<%= image_tag("http://gdurl.com/2-EZ", class: "mi-foto") %>
	 	</div>
		<div class="col-md-8 txt-introduccion">Soy estudiante de Ingeniería en Computación en la Universidad Nacional de La Plata.</div>
	</div>
</div>

