<div class="imagen-inicio" data-position="center center">
	<div class="banner-inicio">
		<%= image_tag("http://gdurl.com/cFsx", class: "logo", :alt => "logo personal", title:"Logo") %>
		<h3 class="txt-nombre">
			Sebastian Nahuel Ternouski
		<br>
		<br>
		<br>
			<i class="fa fa-angle-down animacion-flecha" aria-hidden="true" ></i>
		</h3>

	</div>
</div>

<! PARA EL VIDEO-->
<!--
<section class="video-section">
	<div class="inicio-inicio" data-position="center center">
		<a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/dIntqJvyG0Y',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    	<div class="banner-inicio">
			<%= image_tag("http://gdurl.com/cFsx", class: "logo", :alt => "logo personal", title:"Logo") %>
			<h3 class="txt-nombre"> Sebastian Nahuel Ternouski</h3>
		</div>
  	</div>
</section>
-->
<! PARA EL VIDEO-->

<div id="2da" class="segunda-parte txt-blanco">
	<div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 txt-introduccion-sobreMi">
		<h2> Sobre mi </h2>
		<p> Soy estudiante de Ingeniería en Computación, actualmente cursado 4to año en la Universidad Nacional de La Plata. Me interesa la programación, mi pasatiempo es hacer proyectos en multimedia con una diversa cantidad de programas incluyendo 3D. </p>
	</div>
	<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
		<%= image_tag("http://gdurl.com/2-EZ", class: "mi-foto img-responsive center-block") %>
	</div>
	<div class="col-lg-5 col-md-4 col-sm-6 col-xs-6 txt-introduccion-Datos">
		<h2> Datos </h2>
		<strong>Nombre Completo:</strong> <br> <p>Sebastian Nahuel Ternouski</p>
		<strong>Edad:</strong> <br> <p><%= @cantidad_de_anios %> años</p>
	</div>
</div>

<div class="tercera-parte centrado">
	<div class="margenes col-md-4 col-sm-12">
		<h3 class="centrado">Multimedia</h3> <br>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p class="conocimiento izquierda">
				Adobe Illustrator <br>
				Adobe After Efect <br>
				Adobe Photoshop <br>
				Adobe Audition <br>
				Adobe Premiere <br>
				Blender (3D) <br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 derecha">
			<div class="calificacion"><!-- Ai -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ae -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ps -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Aa -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ap -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Blender -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>

	<div class="margenes col-md-4 col-sm-12">
		<h3 class="centrado">Lenguajes de Programación</h3> <br>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p class="conocimiento izquierda">
				Ruby on rails <br>
				Java <br>
				Latex <br>
				CSS/HTML/JS <br>
				Bash <br>
				C/C++ <br>
				Pascal <br>
				Matlab <br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 derecha">
			<div class="calificacion"><!-- RoR -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Java -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Latex -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- CSS/HTML/JS -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Bash -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- C/C++ -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Pascal -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Matlab -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>

	<div class="margenes col-md-4 col-sm-12">
		<h3 class="centrado">Idiomas</h3> <br>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p class="conocimiento izquierda">
				Español (nativo) <br>
				Ingles (9 años)<br>
				Portugues (7 años) <br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 derecha">
			<div class="calificacion"><!-- Español -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ingles -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Portugues -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>


<div class="cuarta-parte centrado">
	<h2>Proyectos</h2> <br>

	<a href="https://github.com/nternouski/my-web">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/QirV">
				<div class="txt-desenfoque">
					<h2>Mi pagina personal</h2>
					<p>Utilizando ruby on rails. Diseño responsivo. Año 2017.</p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

	<a href="https://nosrobaronelnombre.herokuapp.com/">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/A4oa">
				<div class="txt-desenfoque">
					<h2>Pagina web Gauchada</h2>
					<p>Trabajo grupal con el pseudo nombre de MasterBranch, utilizando Ruby on rails, catedra Ingeniería en Software. Año 2016.</p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>
	
	<a href="https://www.youtube.com/watch?v=cNLXL_kVEpY">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/nQ0D">
				<div class="txt-desenfoque">
					<h2>Diseño 3D</h2>
					<p>Software utilizado: Blender. Año 2015.</p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

	<a href="https://drive.google.com/file/d/0B9xi9Ng3gJzraTFpbDBXTHhRSlE/view?usp=sharing">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/Lpnb">
				<div class="txt-desenfoque">
					<h2>Juego Fix Felix</h2>
					<p>Trabajo grupal, realizado en Java, catedra Taller de Lenguaje 2. Año 2015.<br><br>
					Si se requiere el codigo, solicitar autorizacion via mail.</p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

	<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
		<div class="img-desenfoque">
			<img class="img-responsive" src="http://static.instyle.exp.mx/wp-content/uploads/2016/04/15104635/emma-watson.jpg" alt="">
			<div class="txt-desenfoque">
				<h2>Pagina web Gauchada</h2>
				<p>Trabajo grupar, catedra Ing Software año 2016</p>
			</div>
		</div>
	</div>

</div>


<div class="cuarta-parte centrado">
</div>

