<div class="imagen-inicio" data-position="center center">
	<div class="banner-inicio">
		<div class="row foto-intro">
			<div class="col-md-4">
				<%= image_tag("http://gdurl.com/2-EZ", class: "mi-foto") %>
		 	</div>
			<div class="col-md-8 txt-introduccion">Soy estudiante de Ingeniería en Computación en la Universidad Nacional de La Plata.</div>
		</div>
	</div>
</div>


<div class="segunda-parte">
	<p>
		Sobre mi: Me gusta programar, soy aficionado en el el area de multimedia con conocimiento en diversos programas de software como modelado 3D y produccion audio visual.
	</p>
</div>
<div class="segunda-parte">
	<p>
		Sobre mi: Me gusta programar, soy aficionado en el el area de multimedia con conocimiento en diversos programas de software como modelado 3D y produccion audio visual.
	</p>
</div>
<div class="segunda-parte">
	<p>
		Sobre mi: Me gusta programar, soy aficionado en el el area de multimedia con conocimiento en diversos programas de software como modelado 3D y produccion audio visual.
	</p>
</div>
