<div class="img-contacto app-view-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-evenly center">
	<mat-card class="contact-mat-card-size">
		<mat-card-content>
			<div class="app-center-content">
				<p class="mat-headline app-bold">{{ title | translate }}</p>
				<p class="mat-subheading-2">
					{{ subtitle | translate }}
				</p>

				<div style="padding-top:1em;">
					<i class="material-icons app-icon-padding">email</i>
					<span class="mat-subheading-2">nahuelternouski@gmail.com</span>
				</div>
				<div style="padding-bottom:1em;">
					<i class="material-icons app-icon-padding">location_on</i>
					<span class="mat-subheading-2">La Plata, Buenos Aires, Argentina.</span>
				</div>

				<div class="contact-div-links">
					<div fxLayout="row" fxLayoutAlign="space-evenly center">
						<a href="https://www.facebook.com/nternouski" style="text-decoration:none">
							<img style="width:24px" src="/assets/img/contact/facebook.svg">
						</a>
						<a href="https://www.linkedin.com/in/nahuel-ternouski-b1072799" style="text-decoration:none">
							<img style="width:24px" src="/assets/img/contact/linkedin.svg">
						</a>
						<a href="https://github.com/nternouski" style="text-decoration:none">
							<img style="width:24px" src="/assets/img/contact/github.svg">
						</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>