<div
	style="background-image: url('/assets/img/contact/map2.png');
			width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px;"
	fxLayout="row"
	fxLayout.lt-md="column"
	fxLayoutAlign="space-evenly center"
>
	<mat-card class="max-width: 55em;">
		<mat-card-content style="text-align: center;">
			<p class="mat-headline">{{ title | translate }}</p>
			<p class="mat-subheading-2">
				{{ subtitle | translate }}
			</p>

			<div style="padding:1em;">
				<mat-icon style="top: 5px; position: relative;">email</mat-icon>
				<span class="mat-subheading-2">nahuelternouski@gmail.com</span>
			</div>

			<div class="contact-div-links">
				<div fxLayout="row" fxLayoutAlign="space-evenly center">
					<a
						href="https://www.facebook.com/nternouski"
						style="text-decoration:none;"
						target="_blank"
					>
						<img style="width:24px" src="/assets/img/contact/facebook.svg" />
					</a>
					<a
						href="https://www.linkedin.com/in/nternouski"
						style="text-decoration:none;"
						target="_blank"
					>
						<img style="width:24px" src="/assets/img/contact/linkedin.svg" />
					</a>
					<a
						href="https://github.com/nternouski"
						style="text-decoration:none;"
						target="_blank"
					>
						<img style="width:24px" src="/assets/img/contact/github.svg" />
					</a>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>
