.contact-div-links {
	padding-left: 5em;
	padding-right: 5em;
}

@media (max-width: 959px) {
	.contact-mat-card-size {
		max-width: 25em;
	}

	.contact-div-links {
		padding-left: 1em;
		padding-right: 1em;
	}
}
