.video-section .buttonBar {
	display: none;
}

.player {
	font-size: 1px;
}

.video-inicio {
	height: 100%;
	width: 100%;
}

.welcome-arrow {
	transition: transform 1s;
	transform: translateY(0px);
}

.welcome-arrow:hover {
	transform: translateY(30px);
}

.imagen-inicio {
	height: 100vh;
	background: url("/assets/img/banner-inicio.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo {
	transition: width 0.5s ease;
	width: 12%;
	height: 12%;
}

.logo:hover {
	width: 14%;
}

.tercera-parte {
	padding-top: 5em;
	padding-bottom: 5em;
	background-color: black;
	width: 100%;
	color: white;
	display: inline-block;
}

.cuarta-parte {
	padding: 60px 80px 60px 80px;
	background-color: #30c77e;
	max-width: 100vw;
	color: white;
	display: inline-block;
}
