<mauna-scroll-button></mauna-scroll-button>
<div>
	<div id="home" fxLayout="column" fxLayoutAlign="center center" class="imagen-inicio">
		<mat-toolbar color="accent" style="height: 2.5em;">
			<button *ngFor="let item of links" mat-button (click)="scroll(item.link)">
				{{ item.name | translate }}
			</button>

			<span fxFlex="auto"></span>

			<button mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon>language</mat-icon>
			</button>
		</mat-toolbar>

		<mat-menu #menu="matMenu" [overlapTrigger]="false">
			<button *ngFor="let item of langs" mat-menu-item (click)="changeLang(item)">
				<img
					style="height: 1em;"
					[src]="'/assets/img/lang/' + item.img"
					alt="{{ item.name | translate }}"
				/>
				<span style="padding-left: 0.5em;">{{ item.name | translate }}</span>
			</button>
		</mat-menu>
		<div fxFlex="auto" fxLayoutAlign="center center" style="background: none; padding-top: 2em;">
			<div
				fxLayout="column"
				fxLayoutAlign="center center"
				style="color: white; text-align: center;"
			>
				<img class="photo-profile" src="assets/img/foto-perfil.jpg" alt="Foto perfil" />
				<strong
					[ngClass.gt-md]="{ 'mat-display-2': true }"
					[ngClass]="{ 'mat-display-1': true }"
					style=" font-weight: bold;"
				>
					{{ name }}
				</strong>
				<div fxLayout="row" fxLayoutAlign="center center">
					<p
						fxFlex="50"
						fxFlex.lt-sm="90"
						[ngClass.gt-md]="{ 'mat-title': true }"
						[ngClass]="{ 'mat-subheading-2': true }"
					>
						{{ "welcome.about_me.info" | translate }}
					</p>
				</div>
				<mat-icon class="welcome-arrow" style="font-size:3em; user-select: none;">
					keyboard_arrow_down
				</mat-icon>
			</div>
		</div>
	</div>

	<div id="tech" style="background-color: black; color: white; padding: 2em 0em">
		<app-quality></app-quality>
	</div>

	<div
		id="projects"
		style="padding: 2em 0em; background-color: #30c77e; max-width: 100vw; color: white;"
	>
		<app-projects></app-projects>
	</div>

	<div
		id="contact"
		fxLayout="column"
		fxLayoutAlign="space-evenly "
		style="text-align: center; padding: 6em 0em;"
	>
		<p class="mat-headline" fxFlex="auto">{{ "contact.title" | translate }}</p>

		<div fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 2em;">
			<p class="mat-subheading-2" style="padding: 0em 2em;">
				{{ "contact.subtitle" | translate }}
			</p>
			<div
				class="mat-subheading-2"
				style="padding: 0.2em 0.6em; border-radius: 0.5em; border: #30c77e 0.2em solid; font-weight: bold;"
			>
				nahuelternouski@gmail.com
			</div>
		</div>

		<div fxLayout="row" fxLayoutAlign="space-evenly center">
			<a href="https://www.facebook.com/nternouski" style="text-decoration:none;" target="_blank">
				<img style="width:2em" src="/assets/img/contact/facebook.svg" />
			</a>
			<a
				href="https://www.linkedin.com/in/nternouski"
				style="text-decoration:none;"
				target="_blank"
			>
				<img style="width:2em" src="/assets/img/contact/linkedin.svg" />
			</a>
			<a href="https://github.com/nternouski" style="text-decoration:none;" target="_blank">
				<img style="width:2em" src="/assets/img/contact/github.svg" />
			</a>
		</div>
	</div>
</div>
