
<div class="img-contacto contenedor-contacto">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> alert-dismissible" role="alert">
					<button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<ul>
						<li>
							<%= value.html_safe %>
						</li>
					</ul>
				</div>
			<% end %>
			<br>
			<h1 class="texto-blanco"><%= t 'contacto.titulo' %></h1>
			<br>
			<hr class="primary">
			<br>
			<p class="texto-blanco"><%= t 'contacto.desc' %></p>
			<br>
		</div>
		<br>
		<br>
		<br>
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<br>
			<p class="texto-blanco informacion-contactos">
				<i class="fa fa-envelope fa-fw" aria-hidden="true"></i>	nahuelternouski@gmail.com<br>
				<br>
				<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> La Plata, Buenos Aires, Argentina.<br><br>
				<br>
				<br>
				<br>
				<a href="https://github.com/nternouski" class="barra-blanco"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>	
				&emsp;&emsp;&emsp;&emsp;	
				<a href="http://facebook.com/nahuel.ter" class="barra-blanco"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
				&emsp;&emsp;&emsp;&emsp;	
				<a href="https://www.linkedin.com/in/nahuel-ternouski-b1072799" class="barra-blanco"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
			</p>
			<br>
			<br>
		</div>
	</div><! --/row -->
</div><! --/container -->